<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/PlaylistSelect" version="1.0.0" viewmodes="fullscreen">
    <tizen:application id="D09ZtAQQxA.PlaylistSelect" package="D09ZtAQQxA" required_version="2.3.1"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <icon src="icon.png"/>
    <name>PlaylistSelect</name>
    <tizen:profile name="wearable"/>
</widget>
